body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.property-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-card .details {
  padding: 20px;
}

.property-card .details h3 {
  margin: 0;
  font-size: 1.5em;
}

.property-card .details p {
  margin: 10px 0;
}

.property-card .details .price {
  color: #28a745;
  font-weight: bold;
  font-size: 1.2em;
}

.update-button {
  background-color: #ffc107;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.update-button:hover {
  background-color:  #6f581e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
}

form select[multiple] {
  height: auto;
}

#update-submit {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#update-submit:hover {
  background-color: #218838;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-button:hover {
  background-color: rgb(167, 42, 42);
}
